body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

.container {
    padding: 30px;
}

h1 {
    color: #1e3a5f;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #1e3a5f;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin: 15px 5px 20px 0;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 13px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #1e3a5f;
    color: white;
}

.role {
    padding: 5px 10px;
    border-radius: 15px;
}

.admin {
    background: #d6eaf8;
    color: #21618c;
}

.dosen {
    background: #d5f5e3;
    color: #1e8449;
}

.hapus {
    color: #c0392b;
    text-decoration: none;
}